
/*!
This file is part of DecSoft App Builder.
Visit our website for license information.
Copyright ©2020 DecSoft. All rights reserved.
Visit our website at: https://www.davidesperalta.com

*/


html, body { width: 320px; height: 480px; }

#view1  { background-color: #c0c0c0; margin: 5px; }
#view1 #navbar1 {background-color: #e7e8e9; min-height: 80; min-width: 250;}
#view1 #comment1 { position: absolute; top: 25.00%; left: 112.50%; width: 170.63%; height: 30.42%; }

#view1 #html1 { position: absolute; top: 10.00%; left: 0.00%; width: 100.00%; height: 90.00%; }
